* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  max-width: 1680px;
  margin: 0 auto;
}

#products-container {
  overflow: scroll;
  display: grid;
  padding: 10px;
  row-gap: 10px;
  column-gap: 5px;
}

#toggle-products {
  padding: 10px;
}

#toggle-products:hover {
  cursor: pointer;
  opacity: 0.8;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.images-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-img {
  max-height: 100px;
  cursor: pointer;
  flex-grow: 1;
}

.product-img:hover {
  border: 1px solid rgba(0, 0, 0, 0.308);
}

.main-img {
  object-fit: cover;
  cursor: initial;
  max-height: 300px;
  width: auto;
}

.prices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.old-price {
  text-decoration: line-through;
  color: #636363;
  font-size: 18px;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.product-container span {
  text-align: center;
}

.product-container button {
  padding: 12px 24px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #636363;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s ease;
}

.product-container button:hover {
  background-color: #636363;
  color: white;
}
